{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->												
		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">CRM Dashboard</h1>
							<span class="badge badge-soft-primary ms-3">Badge</span>
						</div>
						<p id="greeting"></p>

						<script>
							const now = new Date();
							const hour = now.getHours();
					
							let greeting;
					
							if (hour < 12) {
								greeting = "Good Morning";
							} else if (hour < 18) {
								greeting = "Good Afternoon";
							} else {
								greeting = "Good Evening";
							}
					
							document.getElementById("greeting").innerHTML = greeting + " {{request.user.first_name}}!";
						</script>
						
					</div>
					
				</div>
			</div>
		</div>	
		
		<div class="row mt-3">
			<div class="col-xxl-9 col-lg-8 col-md-7 mb-md-4 mb-3">
				<div class="card card-border mb-0 h-100">
					<div class="card-header card-header-action">
						<h6>Audience Overview</h6>
					</div>
					<div class="card-body">
						<div class="text-center">
							<div class="d-inline-block">
								<span class="badge-status">
									<span class="badge bg-primary badge-indicator badge-indicator-nobdr"></span>
									<span class="badge-label">Invoice Amount</span>
								</span>
							</div>
							<div class="d-inline-block ms-3">
								<span class="badge-status">
									<span class="badge bg-primary-light-2 badge-indicator badge-indicator-nobdr"></span>
									<span class="badge-label">Receipt Amount</span>
								</span>
							</div>
							<div class="d-inline-block ms-3">
								<span class="badge-status">
									<span class="badge bg-primary-light-4 badge-indicator badge-indicator-nobdr"></span>
									<span class="badge-label">Expenses</span>
								</span>
							</div>
						</div>
						<div id="column_chart_2" style="min-height: 265px;"></div>
						<div class="separator-full mt-5"></div>
						<div class="flex-grow-1 ms-lg-3">
							<div class="row">
								<div class="col-xxl-3 col-sm-6 mb-xxl-0 mb-3">
									<span class="d-block fw-medium fs-7">Users</span>
									<div class="d-flex align-items-center">
										<span class="d-block fs-4 fw-medium text-dark mb-0">8.8k</span>
										<span class="badge badge-sm badge-soft-success ms-1">
											<i class="bi bi-arrow-up"></i> 7.5%
										</span>
									</div>
								</div>
								<div class="col-xxl-3 col-sm-6 mb-xxl-0 mb-3">
									<span class="d-block fw-medium fs-7">Sessions</span>
									<div class="d-flex align-items-center">
										<span class="d-block fs-4 fw-medium text-dark mb-0">18.2k</span>
										<span class="badge badge-sm badge-soft-success ms-1">
											<i class="bi bi-arrow-up"></i> 7.2%
										</span>
									</div>
								</div>
								<div class="col-xxl-3 col-sm-6 mb-xxl-0 mb-3">
									<span class="d-block fw-medium fs-7">Bounce rate</span>
									<div class="d-flex align-items-center">
										<span class="d-block fs-4 fw-medium text-dark mb-0">46.2%</span>
										<span class="badge badge-sm badge-soft-danger ms-1">
											<i class="bi bi-arrow-down"></i> 0.2%
										</span>
									</div>
								</div>
								<div class="col-xxl-3 col-sm-6">
									<span class="d-block fw-medium fs-7">Session duration</span>
									<div class="d-flex align-items-center">
										<span class="d-block fs-4 fw-medium text-dark mb-0">4m 24s</span>
										<span class="badge badge-sm badge-soft-success ms-1">
											<i class="bi bi-arrow-up"></i> 10.8%
										</span>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-xxl-3 col-lg-4 col-md-5 mb-md-4 mb-3">
				<div class="card card-border mb-0  h-100">
					<div class="card-header card-header-action">
						<h6>Cash Collection</h6>
					</div>
					<div class="card-body text-center">
						<div id="radial_chart_2" style="min-height: 233.7px;"></div>
						<div class="d-inline-block mt-4">
							<div class="mb-4">
								<span class="d-block badge-status lh-1">
									<span class="badge bg-primary badge-indicator badge-indicator-nobdr d-inline-block"></span>
									<span class="badge-label d-inline-block">Invoice Amount</span>
								</span>
								<span class="d-block text-dark fs-5 fw-medium mb-0 mt-1">Rs.{{total_invoice_amt}}</span>
							</div>
							<div>
								<span class="badge-status lh-1">
									<span class="badge bg-primary-light-2 badge-indicator badge-indicator-nobdr"></span>
									<span class="badge-label">Receipt Amount</span>
								</span>
								<span class="d-block text-dark fs-5 fw-medium mb-0 mt-1">Rs.{{total_receipt_amt}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h6>Last 7 days Summary</h6>
			<table class="table">
			<thead>
			  <tr>
				<th>Date</th>
				<th>Invoice Total</th>
				<th>Receipt Total</th>
				<th>Expense Total</th>
			  </tr>
			</thead>
			<tbody>
				{% for totals in totals_by_day %}
				<tr>
					<td class="mx-5">{{ totals.date }}</td>
					<td class="mx-5">{{ totals.invoice_total }}</td>
					<td class="mx-5">{{ totals.receipt_total }}</td>
					<td>{{ totals.expense_total }}</td>
				</tr>
				{% endfor %}
			</tbody>
		  </table>
		</div>
	</div>
</div>

<script>
    var total_invoice_amt = "{{ total_invoice_amt }}";
    var total_receipt_amt = "{{ total_receipt_amt }}";
    var percent_1 = "80";
    var percent_2 = "60";

	var expense_data = [44, 55, 41, 67, 22, 43,44, 55];
	var receipt_data = [13, 23, 20, 8, 13, 27,13, 23];
	var invoice_data = [1, 17, 15, 15, 21, 14,11, 17];
	var categories = ['01/02/2021 GMT', '01/03/2021 GMT', '01/04/2021 GMT',
	'01/05/2021 GMT', '01/06/2021 GMT','01/07/2021 GMT', '01/08/2021 GMT', '01/09/2021 GMT'
];
    // Pass other context variables as needed
  </script>
{% include 'footer.html' %}