{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->
		<div class="hk-pg-header pg-header-wth-tab pt-7">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-lg-0 mb-2 me-8">
						<h1 class="pg-title">Welcome back</h1>
						<p>Welcome to SPELL CRM Dashboard.</p>
					</div>
					{% if 'create_finance' in permissions %}
					<div>
						<a href="{% url 'create_invoice' %}"><button type="button" class="btn btn-success">Create Invoice</button></a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- /Page Header -->


		<!-- /Add other contents below -->
		<div class="invoice-body mt-3">
			<div class="row">
				<table id="datable_1" class="table nowrap w-100 mb-5">
					<thead>
						<tr>
							<th>Invoice</th>
							<th>Customer</th>
							<th>Issue Date</th>
							<th>Due Date</th>
							<th>Invoice Amount</th>
							<th>Created By</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for invoices in invoices %}
						<tr>
							<td><a href="#" class="table-link-text link-high-em">{{invoices.id}}</a></td>
							<td>{{invoices.customer}}</td>
							<td>{{invoices.created}}</td>
							<td>{{invoices.created}}</td>
							<td>Rs. {{invoices.invoice_amount}}</td>
							<td>{{invoices.created_by}}</td>
							{% if 'read_finance' in permissions %}
							<td>
								<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" href="{% url 'view_invoice' id=invoices.id %}"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
							</td>
							{% else %}
                            <td>---</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



{% include 'footer.html' %}