{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->
		<div class="hk-pg-header pg-header-wth-tab pt-7">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-lg-0 mb-2 me-8">
						<h1 class="pg-title">Welcome back</h1>
						<p>Welcome to SPELL CRM Dashboard.</p>
					</div>
					<div>
						<a href="{% url 'create_invoice' %}"><button type="button" class="btn btn-success">Create Invoice</button></a>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->


		<!-- /Add other contents below -->
		<div class="invoice-body mt-3">
			<div class="container">
				<div class="invoice-list-view">
					<table class="table nowrap w-100 mb-5">
						<thead>
							<tr>
								<th>Invoice</th>
								<th>Customer</th>
								<th>Issue Date</th>
								<th>Due Date</th>
								<th>Invoice Amount</th>
								<th>Created By</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for invoices in invoices %}
							<tr>
								<td><a href="#" class="table-link-text link-high-em">{{invoices.id}}</a></td>
								<td>{{invoices.customer}}</td>
								<td>{{invoices.created}}</td>
								<td>{{invoices.created}}</td>
								<td>Rs. {{invoices.invoice_amount}}</td>
								<td>{{invoices.created_by}}</td>
								
								<td>
									<div class="d-flex align-items-center">
										<div class="d-flex">
											<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" href="{% url 'view_invoice' id=invoices.id %}"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
											{% comment %} <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" href="#"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="edit"></i></span></span></a>
											<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover del-button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete" href="#"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="trash-2"></i></span></span></a> {% endcomment %}
										</div>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				
				</div>
			
			</div>
		</div>
		
	</div>
</div>



<div class="modal fade" id="exampleModalLarge01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLarge01" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>



{% include 'footer.html' %}