{% include 'header.html' %}

<div class="hk-pg-wrapper pb-0">
    <div class="hk-pg-body py-0">
        <div class="invoiceapp-wrap">
            <div class="invoiceapp-detail-wrap">
                <div class="container">
                    <div class="container">
                        <div class="topnav">
                            <div class="search-container">
                              <form action="{% url 'single_receipt' id=id %}" method="GET">
                                <input type="text" placeholder="Search.." name="query">
                                <button type="submit">Submit</button>
                              </form>
                            </div>
                        </div>
                        <style>
                            .topnav {
                            overflow: hidden;
                            background-color: #e9e9e9;
                            padding-bottom:6px;
                            }
    
                            .topnav .search-container {
                            float: right;
                            }
    
                            .topnav input[type=text] {
                            padding: 6px;
                            margin-top: 8px;
                            font-size: 17px;
                            border: none;
                            margin-right:5px;
                            }
    
                            .topnav .search-container button {
                            float: right;
                            padding: 6px;
                            margin-top: 8px;
                            margin-right: 16px;
                            background: #ddd;
                            font-size: 17px;
                            border: none;
                            cursor: pointer;
                            }
    
                            .topnav .search-container button:hover {
                            background: #ccc;
                            }
    
                            @media screen and (max-width: 600px) {
                            .topnav .search-container {
                            float: none;
                            }
                            .topnav a, .topnav input[type=text], .topnav .search-container button {
                            float: none;
                            display: block;
                            text-align: left;
                            width: 100%;
                            margin: 0;
                            padding: 14px;
                            }
                            .topnav input[type=text] {
                            border: 1px solid #ccc;  
                            }
                            }
                        </style>
                    </div>
                </div>
                <div class="invoice-body">
                    <div class= "container">
                        <div class="invoice-list-view">
                            <table class="table nowrap w-100 mb-5">
                                <thead>
                                    <tr>
                                        <th>Receipt #</th>
                                        <th>Client Name</th>
                                        <th>Payment Method</th>
                                        <th>Paid Amount</th>
                                        <th>Created By</th>
                                        <th>Receipt Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for receipts in receipts %}
                                    <tr>
                                        <td><a href="#" class="table-link-text link-high-em">{{receipts.id}}</a></td>
                                        <td>{{receipts.customer}}</td>
                                        <td>{{receipts.payment_method}}</td>
                                        <td>Rs.{{receipts.paid_amount}}</td>
                                        <td>{{receipts.created_by}}</td>
                                        <td>{{receipts.created}}</td>
                                        
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex">
                                                    <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" href="{% url 'view_receipt' id=receipts.id %}"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="eye"></i></span></span></a>
                                                    <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" href=""><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="edit"></i></span></span></a>
                                                    <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover del-button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete" href="#"><span class="btn-icon-wrap"><span class="feather-icon"><i data-feather="trash-2"></i></span></span></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>

{% include 'footer.html' %}