{% load static %}{% include 'header.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->												
		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">Payslip</h1>
							<!-- <span class="badge badge-soft-primary ms-3">Badge</span> -->
						</div>
						<p id="greeting"></p>

						<script>
							const now = new Date();
							const hour = now.getHours();
					
							let greeting;
					
							if (hour < 12) {
								greeting = "Good Morning";
							} else if (hour < 18) {
								greeting = "Good Afternoon";
							} else {
								greeting = "Good Evening";
							}
					
							document.getElementById("greeting").innerHTML = greeting + " {{request.user.first_name}}!";
						</script>
						
					</div>
					<div class="pg-header-action-wrap">
                        {% comment %} <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenterAddMonth">Apply Leave</button> {% endcomment %}
					</div>
				</div>
			</div>
		</div>	
		<div class="hk-pg-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_block_1">
                    <div class="row">
                        <h2>Recent Payments</h2>
                        <table class="table nowrap w-100 mb-5">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Month</th>
                                    <th>Leave Deduction</th>
                                    <th>Tax Deduction</th>
                                    <th>Paid Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if payments_made %}
                                {% for payments_made in payments_made %}
                                <tr>
                                    <td>{{payments_made.employee.user.first_name}} {{payments_made.employee.user.last_name}}</td>
                                    <td>{{payments_made.month}}</td>
                                    <td>{{payments_made.leave_deduction|floatformat:2}}</td>
                                    <td>{{payments_made.tax_deduction|floatformat:2}}</td>
                                    <td>{{payments_made.paid_salary|floatformat:2}}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td style="text-align: center" colspan="7">No Recent Payments</td>
                                </tr>
                                {% endif %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% include 'footer.html' %}