{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->
																		
		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">Welcome</h1>
							<!-- <span class="badge badge-soft-primary ms-3">Badge</span> -->
						</div>
						<p>This is a dummy text for more context.</p>
						
					</div>
				</div>
			</div>
		</div>
															
		<!-- /Page Header -->


		<!-- /Add other contents below -->
		<div class="card-body">
			<div class="contact-list-view">
				<table class="table nowrap w-100 mb-5">
					<thead>
						<tr>
							<th>Employee</th>
							<th>Punch In</th>
							<th>Punch Out</th>
						</tr>
					</thead>
					<tbody>
						{% for att_data in att_data %}
						<tr>
							<td>{{att_data.user}}</td>
							<td>{{att_data.punch_in_time}}</td>
							<td>{{att_data.punch_out_time}}</td>
							
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}