<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'create_role' %}"><button>Create Role</button></a>
    <button>Create Users</button>



    <h1>Roles</h1>
    {% for roles in roles %}
    <p>{{roles.role}}</p>
    {% endfor %}



    <h1>Users</h1>
    {% for users in users %}
    <p>{{users.role}}</p>
    {% endfor %}
</body>
</html>