{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">

		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">CRM Dashboard</h1>
						</div>
						<p>Good afternoon {{request.user.first_name}}!</p>
					</div>
					{% if 'create_account' in permissions %}
					<div class="pg-header-action-wrap">
						<a href="{% url 'add_employee' %}"><button class="btn btn-primary" >Add User</button></a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>								
        <div class="container mt-5">											
            <div class="row">
                <div class="table-responsive">
					<table class="table nowrap table-advance">
						<thead>
							<tr>
								<th class="mnw-150p">Name</th>
								<th class="mnw-200p">Email address</th>
								<th class="mnw-150p">Username</th>
								<th>Role</th>
							</tr>
						</thead>
						<tbody>
							{% for company_users in company_users %}
							<tr>
								<td class="text-truncate">
									<div class="media align-items-center">
										<div class="media-head me-3">
											<div class="avatar avatar-xs">
												<img src="{% static 'user.png' %}" alt="user" class="avatar-img">
											</div>
										</div>
										<div class="media-body mnw-0">
											<a href="#" class="table-link-text text-high-em text-truncate mb-0">{{company_users.user.first_name}} {{company_users.user.last_name}}</a>
										</div>
									</div>
								</td>
								<td class="text-truncate">{{company_users.user.email}}</td>
								<td class="text-truncate">{{company_users.user.username}}</td>
								<td><span class="badge badge-lg badge-light">{{company_users.permission.role}}</span></td>
								
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
                
            </div>
													
        </div>
		
	</div>
</div>
{% include 'footer.html' %}