{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->
		<div class="hk-pg-header pg-header-wth-tab pt-7">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-lg-0 mb-2 me-8">
						<h1 class="pg-title">Welcome back</h1>
						<p>Welcome to SPELL CRM Dashboard.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<!-- /Add other contents below -->
																
		
														
        <div class="container mt-5">										
            <div class="modal-content">
                <form action="{% url 'edit_company_user' id=user_data.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" >Edit User</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">First Name</label>
                                <input type="text" class="form-control"  placeholder="alex" name='first_name' required value="{{user_data.user.first_name}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">Last_name</label>
                                <input type="text" class="form-control"  placeholder="alex" name='last_name' required value="{{user_data.user.last_name}}">
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="">Email Address</label>
                            <input type="text" class="form-control"  placeholder="alex" name='email' required value="{{user_data.user.email}}">
                        </div>
                        
                        <div class="col-md-12 mb-3">
                            <label for="">Username</label>
                            <input type="text" class="form-control"  placeholder="alex" name='username' required value="{{user_data.user.username}}">
                        </div>
                        <div class="col-md-12 mb-3">
                            <h6>Select Role</h6>
                            <div class="form-group">
                                <select class="form-select" name="role" required>
                                    <option value="" data-id="0" selected>Select Role</option>
                                    {% for roles in roles %}
                                    
                                    <option value="{{roles.id}}" {% if roles == user_data.permission.role  %}selected{% endif %}>{{roles.role}}</option>
                                    
                                    {% endfor %}
                                </select>
                            </div>
                            <a class="d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#billed_info" href="#">
                            <i class="ri-add-box-line me-1"></i> Add new role </a>
                        </div>
                        


                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
													
        </div>
		
	</div>
</div>
{% include 'footer.html' %}