{% load static %}
<!DOCTYPE html>
<!-- 
Jampack
Author: Hencework
Contact: contact@hencework.com
-->
<html lang="en">
<head>
    <!-- Meta Tags -->
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ERP</title>
    <meta name="description" content="A modern CRM Dashboard Template with reusable and flexible components for your SaaS web applications by hencework. Based on Bootstrap."/>
    
	<!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- CSS --> 
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="page-wrapper">
		{% for message in messages %}
		<div class="popup-msg">
		  <p class="popup-msg-text">{{message}}</p>
		  <!-- <i class="fa fa-times popup-close"></i> -->
		</div>
		{% endfor %}
		<style>
		  .popup-msg {
			display: flex;
			justify-content: space-between;
			position: absolute;
			transform: translateX(-50%);
			z-index: 1000;
			top: 2%;
			right: -3%;
			padding: 0.5rem;
			border-radius: 10px;
			border: 1.3px solid gray;
			color: rgb(255, 255, 255);
			background-color: rgb(228, 228, 228);
			box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.3);
		  }
		  .popup-msg-text {
			padding: 7px 5px 0px 5px;
			color:#FB8500 ;
		  }
		</style>
		
		<script>
		  let popup = document.querySelector(".popup-msg");
		  if (popup) {
			setTimeout(() => {
			  popup.style.display = "none";
			}, 10000);
		  }
		</script>
   	<!-- Wrapper -->
	<div class="hk-wrapper hk-pg-auth" data-footer="simple">
		<!-- Main Content -->
		<div class="hk-pg-wrapper py-0">
			<div class="hk-pg-body py-0">
				<!-- Container -->
				<div class="container-fluid">
					<!-- Row -->
					<div class="row auth-split">
						<div class="col-xl-5 col-lg-6 col-md-7 position-relative mx-auto">
							<div class="auth-content flex-column pt-8 pb-md-8 pb-13">
								<div class="text-center mb-7">
									<a class="navbar-brand me-0" href="{% url 'home' %}">
										<img class="brand-img d-inline-block" src="{{company.company_logo.url}}" alt="brand" height="100">
									</a>
								</div>
								<form class="w-100" method="POST" action = "{% url 'login' %}">
                                    {% csrf_token %}
									<div class="row">
										<div class="col-xl-7 col-sm-10 mx-auto">
											<div class="text-center mb-4">
												<h4>Sign in to your account</h4>
											</div>
											<div class="row gx-3">
												<div class="form-group col-lg-12">
													<div class="form-label-group">
														<label>User Name</label>
													</div>
													<input class="form-control" placeholder="Enter username" value="" type="text" name="username">
												</div>
												<div class="form-group col-lg-12">
													<div class="form-label-group">
														<label>Password</label>
														
													</div>
													<div class="input-group password-check">
														<span class="input-affix-wrapper affix-wth-text">
															<input class="form-control" placeholder="Enter your password" value="" type="password" name="password">
															<a href="#" class="input-suffix text-primary text-uppercase fs-8 fw-medium">
																<span>Show</span>
																<span class="d-none">Hide</span>
															</a>
														</span>
														
													</div>
													<a href="{% url 'forgot_password' %}" class="fs-7 fw-medium">Forgot Password ?</a>
												</div>
											</div>
											<div class="d-flex justify-content-center">
												<div class="form-check form-check-sm mb-3">
													<input type="checkbox" class="form-check-input" id="logged_in" checked>
													<label class="form-check-label text-muted fs-7" for="logged_in">Keep me logged in</label>
												</div>
											</div>
											<button  class="btn btn-primary btn-uppercase btn-block" type="submit">Login</button>
											
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-xl-7 col-lg-6 col-md-5 col-sm-10 d-md-block d-none position-relative bg-primary-light-5">
							<div class="auth-content flex-column text-center py-8">
								<img src="{% static 'dist/img/macaroni-fatal-error.png' %}"  class="img-fluid w-sm-50 mt-7" alt="login"/>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
				<!-- /Container -->
			</div>
			<!-- /Page Body -->
		</div>
		<!-- /Main Content -->
	</div>
    <!-- /Wrapper -->

	<!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
   	<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- FeatherIcons JS -->
    <script src="{% static 'dist/js/feather.min.js' %}"></script>

    <!-- Fancy Dropdown JS -->
    <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>

	<!-- Simplebar JS -->
	<script src="{% static 'vendors/simplebar/dist/simplebar.min.js' %}"></script>
	
	<!-- Init JS -->
	<script src="{% static 'dist/js/init.js' %}"></script>
</body>
</html>