{% include 'nav_links.html' %}

 <div class="hk-wrapper hk-pg-auth" data-footer="simple">
     <!-- Main Content -->
     <div class="hk-pg-wrapper pt-0 pb-xl-0 pb-5">
         <div class="hk-pg-body pt-0 pb-xl-0">
            {% for message in messages %}
            <div data-notify="container" class="col-3 alert alert-primary animated bounceInDown" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1032; top: 20px; right: 20px; animation-iteration-count: 1;"><button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="display: none;"></button><span data-notify="icon"></span> <span data-notify="title"></span> <span data-notify="message">{{message}}</span><a href="#" target="_blank" data-notify="url"></a></div>
            {% endfor %}
             <!-- Container -->
             <div class="container-xxl">
                 <!-- Row -->
                 <div class="row">
                     <div class="col-sm-10 position-relative mx-auto">
                         <div class="auth-content py-8">
                             <form class="w-100" method="post" action="{% url 'reset_password' email=email %}" >
                                 {% csrf_token %}
                                 <div class="row">
                                     <div class="col-lg-5 col-md-7 col-sm-10 mx-auto">
                                         {% if company.company_logo %}
                                          <div class="text-center mb-7">
                                              <a class="navbar-brand me-0" href="{% url 'home' %}">
                                                  <img class="brand-img d-inline-block" src="{{company.company_logo.url}}" alt="logo" width='200'>
                                              </a>
                                          </div>
                                          {% endif %}
                                         <div class="card card-flush">
                                                <div class="card-body text-center">
                                                    <h4>Reset Your Password</h4>
                                                    <p class="mb-4">Enter your new password.</p>
                                                    <div class="row gx-3">
                                                        <div class="form-group col-lg-12">
                                                          <div class="form-label-group">
                                                            <label>Password</label>
                                                          </div>
                                                          <input class="form-control" placeholder="Password" type="password" id="password" name="password" required>
                                                        </div>
                                                        <div class="form-group col-lg-12">
                                                          <div class="form-label-group">
                                                            <label>Confirm Password</label>
                                                          </div>
                                                          <input class="form-control" placeholder="Enter your password again." type="password" id="confirm_password" name="confirm_password" required>
                                                        </div>
                                                      </div>
                                                      <p id="error_message" style="color: red;"></p>
                                                      <button class="btn btn-primary btn-uppercase btn-block" type="submit" id="submit_button">Save</button>
                                                      
                                                </div>
                                           
                                         </div>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
                 <!-- /Row -->
             </div>
             <!-- /Container -->
         </div>
         <!-- /Page Body -->

         <!-- Page Footer -->
         <div class="hk-footer border-0">
             <footer class="container-xxl footer">
                 <div class="row">
                     <div class="col-xl-8 text-center">
                         <p class="footer-text pb-0"><span class="copy-text">ERP © 2022 All rights reserved.</span> <a href="#" class="" target="_blank">Privacy Policy</a><span class="footer-link-sep">|</span><a href="#" class="" target="_blank">T&amp;C</a><span class="footer-link-sep">|</span><a href="#" class="" target="_blank">System Status</a></p>
                     </div>
                 </div>
             </footer>
         </div>
         <!-- / Page Footer -->
     <script>
        var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password")
  , submit_button = document.getElementById("submit_button");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords don't match");
    document.getElementById("error_message").innerHTML = "Passwords don't match";
  } else {
    confirm_password.setCustomValidity('');
    document.getElementById("error_message").innerHTML = "";
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

submit_button.onclick = function(event) {
  if (password.value != confirm_password.value) {
    event.preventDefault(); // Prevent the form from submitting
    validatePassword();
  }
};

     </script>
     </div>
     <!-- /Main Content -->
 </div>
{% include 'footer.html' %}