{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">

		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">CRM Dashboard</h1>
							<span class="badge badge-soft-primary ms-3">Badge</span>
						</div>
						<p>Good afternoon {{request.user.first_name}}!</p>
						
					</div>
					{% if 'create_account' in permissions %}
					<div class="pg-header-action-wrap">
						<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">Create Role</button>
					</div>
					<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<form action="{% url 'create_role' %}" method="POST">
									{% csrf_token %}
									<div class="modal-header">
										<h5 class="modal-title" id="createUserModal">Create Role</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="col-md-12 mb-3">
											<label for="">Role Name</label>
											<input type="text" class="form-control"  placeholder="Finance" name='role'>
										</div>
										<div class="separator separator-light"></div>


										<div class="row">
											<label for="">Finance</label>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="create_finance" value="1">
													<label class="form-check-label" for="customCheck1">Create</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="read_finance" value="1">
													<label class="form-check-label" for="customCheck1">Read</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="update_finance" value="1">
													<label class="form-check-label" for="customCheck1">Update</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="delete_finance" value="1">
													<label class="form-check-label" for="customCheck1">Delete</label>
												</div>
											</div>
											
										</div>
										<div class="separator separator-light"></div>


										<div class="row">
											<label for="">Lead</label>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="create_leads" value="1">
													<label class="form-check-label" for="customCheck1">Create</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="read_leads" value="1">
													<label class="form-check-label" for="customCheck1">Read</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="update_leads" value="1">
													<label class="form-check-label" for="customCheck1">Update</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="delete_leads" value="1">
													<label class="form-check-label" for="customCheck1">Delete</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="manage_leads" value="1">
													<label class="form-check-label" for="customCheck1">Manage</label>
												</div>
											</div>
											
										</div>
										<div class="separator separator-light"></div>


										<div class="row">
											<label for="">Account</label>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="create_account" value="1">
													<label class="form-check-label" for="customCheck1">Create</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="read_account" value="1">
													<label class="form-check-label" for="customCheck1">Read</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="update_account" value="1">
													<label class="form-check-label" for="customCheck1">Update</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="delete_account" value="1">
													<label class="form-check-label" for="customCheck1">Delete</label>
												</div>
											</div>
											
										</div>
										<div class="separator separator-light"></div>


										<div class="row">
											<label for="">HRM</label>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="create_hrm" value="1">
													<label class="form-check-label" for="customCheck1">Create</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="read_hrm" value="1">
													<label class="form-check-label" for="customCheck1">Read</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="update_hrm" value="1">
													<label class="form-check-label" for="customCheck1">Update</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="delete_hrm" value="1">
													<label class="form-check-label" for="customCheck1">Delete</label>
												</div>
											</div>
											
										</div>
										<div class="separator separator-light"></div>


										<div class="row">
											<label for="">Products</label>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="create_products" value="1">
													<label class="form-check-label" for="customCheck1">Create</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="read_products" value="1">
													<label class="form-check-label" for="customCheck1">Read</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="update_products" value="1">
													<label class="form-check-label" for="customCheck1">Update</label>
												</div>
											</div>
											<div class="col mb-1">
												<div class="form-check">
													<input type="checkbox" class="form-check-input" id="customCheck1" name="delete_products" value="1">
													<label class="form-check-label" for="customCheck1">Delete</label>
												</div>
											</div>
											
										</div>
										<div class="separator separator-light"></div>


									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-primary">Save changes</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>

		<!-- /Add other contents below -->
		<div class="container mt-5">
            														
            <div class="row">
                <div class="table-responsive">
					<table class="table nowrap table-advance">
						<thead>
							<tr>
								<th>Role</th>
								<th>ID</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for roles in roles %}
							<tr class="mt-1">
								<td><span class="badge badge-lg badge-light">{{roles.role}}</span></td>
								<td><span class="badge badge-lg badge-light">{{roles.role_id}}</span></td>
								{% if 'update_account' or 'delete_account' in permissions  %}
								<td>
									<div  class="d-flex">
										{% if 'update_account' in permissions  %}
										<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" href="{% url 'edit_role' id=roles.id %}"><span class="icon"><span class="feather-icon"><i data-feather="edit-2"></i></span></span></a>
										{% endif %}
										{% if 'delete_account' in permissions  %}
										<a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" data-bs-toggle="modal" data-bs-target="#exampleModalCenter{{roles.id}}" href=""><span class="icon"><span class="feather-icon"><i data-feather="archive"></i></span></span></a>
										{% endif %}
									</div>
								</td>
								{% else %}
								<td>----</td>
								{% endif %}

							</tr>
							{% endfor %}
							{% for roles in roles %}
							<div class="modal fade" id="exampleModalCenter{{roles.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter{{roles.id}}" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Delete Role</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Are you sure you want to delete this role?</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
											<a href="{% url 'delete_role' id=roles.role_id %}"><button type="button" class="btn btn-primary">Delete</button></a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</tbody>
					</table>
				</div>
            </div>										
        </div>
	</div>
</div>
{% include 'footer.html' %}