{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">

		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">View Roles</h1>
						</div>
						<p>Good afternoon {{request.user.first_name}}!</p>
						
					</div>
				</div>
			</div>
		</div>

		<!-- /Add other contents below -->
		<div class="container">
            														
            <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Create</th>
                    <th scope="col">Read</th>
                    <th scope="col">Update</th>
                    <th scope="col">Manage</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Account</th>
                    <td>{% if role_data.create_account == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.read_account == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.update_account == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.delete_account == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.manage_account == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Products</th>
                    <td>{% if role_data.create_products == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.read_products == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.update_products == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.delete_products == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.manage_products == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Finance</th>
                    <td>{% if role_data.create_finance == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.read_finance == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.update_finance == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.delete_finance == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.manage_finance == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">HRM</th>
                    <td>{% if role_data.create_hrm == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.read_hrm == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.update_hrm == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.delete_hrm == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.manage_hrm == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Leads</th>
                    <td>{% if role_data.create_leads == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.read_leads == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.update_leads == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.delete_leads == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                    <td>{% if role_data.manage_leads == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Company</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{% if role_data.manage_company == True %}
                        <span class="badge badge-primary  badge-outline"><i class="bi bi-check2-circle"></i></span>
                        {% else %}
                        <span class="badge badge-danger badge-outline"><i class="bi bi-x-circle"></i></span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
                                                        
        </div>
        
        
	</div>
</div>

{% include 'footer.html' %}