{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'nav_links.html' %}
<body>
	<div class="page-wrapper">
		{% for message in messages %}
		<div data-notify="container" class="col-3 alert alert-primary animated bounceInDown" role="alert" data-notify-position="top-right" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1032; top: 20px; right: 20px; animation-iteration-count: 1;"><button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="display: none;"></button><span data-notify="icon"></span> <span data-notify="title"></span> <span data-notify="message">{{message}}</span><a href="#" target="_blank" data-notify="url"></a></div>
		{% endfor %}
		
		<!-- Wrapper -->
		<div class="hk-wrapper" data-layout="vertical" data-layout-style="default" data-menu="light" data-footer="simple">
			<!-- Top Navbar -->
			<nav class="hk-navbar navbar navbar-expand-xl navbar-light fixed-top">
				<div class="container-fluid">
				<!-- Start Nav -->
				<div class="nav-start-wrap">
					<button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle d-xl-none"><span class="icon"><span class="feather-icon"><i data-feather="align-left"></i></span></span></button>
						
					
				</div>
				<!-- /Start Nav -->
				
				<!-- End Nav -->
				<div class="nav-end-wrap">
					<ul class="navbar-nav flex-row">
						<li class="nav-item">
							<div class="dropdown ps-2">
								<a class=" dropdown-toggle no-caret" href="#" role="button" data-bs-display="static" data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="outside" aria-expanded="false">
									<div class="media-head me-3">
										
									</div>
									<div class="avatar avatar-rounded avatar-xs">
										<img src="{% static 'user.png' %}" alt="user" class="avatar-img">
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<div class="p-2">
										<div class="media">
											<div class="media-head me-2">
												<div class="avatar avatar-primary avatar-sm avatar-rounded">
													<img src="{% static 'user.png' %}" alt="user" class="avatar-img">
												</div>
											</div>
											<div class="media-body">
													<a href="#" class="d-block link-dark fw-medium">{{request.user.first_name}} {{request.user.last_name}}</a>
											</div>
										</div>
									</div>
									<div class="dropdown-divider"></div>
									{% comment %} <a class="dropdown-item" href="">Profile</a> {% endcomment %}
									<a class="dropdown-item" href="{% url 'logout' %}"><span class="me-2">Sign Out</a><div class="dropdown-divider"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- /End Nav -->
				</div>									
			</nav>
			<!-- /Top Navbar -->

			<!-- Vertical Nav -->
			<div class="hk-menu">
				<!-- Brand -->
				<div class="menu-header">
					<span>
						<a class="navbar-brand" href="">
							<img class="brand-img img-fluid" src="{{company.company_logo.url}}" alt="{{company.company_name}}" style="height:30px;" />
						</a>
						<button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle">
							<span class="icon">
								<span class="svg-icon fs-5">
									<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<line x1="10" y1="12" x2="20" y2="12"></line>
										<line x1="10" y1="12" x2="14" y2="16"></line>
										<line x1="10" y1="12" x2="14" y2="8"></line>
										<line x1="4" y1="4" x2="4" y2="20"></line>
									</svg>
								</span>
							</span>
						</button>
					</span>
				</div>
				<!-- /Brand -->

				<!-- Main Menu -->
				<div data-simplebar class="nicescroll-bar">
					<div class="menu-content-wrap">
						<div class="menu-group">
							<ul class="navbar-nav flex-column">
								<li class="nav-item active">
									<a class="nav-link" href="{% url 'home' %}">
										<span class="nav-icon-wrap">
											<span class="svg-icon">
												<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-template" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
													<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
													<rect x="4" y="4" width="16" height="4" rx="1" />
													<rect x="4" y="12" width="6" height="8" rx="1" />
													<line x1="14" y1="12" x2="20" y2="12" />
													<line x1="14" y1="16" x2="20" y2="16" />
													<line x1="14" y1="20" x2="20" y2="20" />
												</svg>
											</span>
										</span>
										<span class="nav-link-text">Dashboard</span>
										
									</a>
								</li>
								{% if 'manage_company' in permissions %}
								  
								<li class="nav-item">
									<a class="nav-link" href="{% url 'company_setup' %}" >
										<span class="nav-icon-wrap">
											<span class="svg-icon">
												<i class="bi bi-gear"></i>
											</span>
										</span>
										<span class="nav-link-text">Company Setup</span>
									</a>	
								</li>
								{% endif %}
							</ul>	
						</div>
						<div class="menu-gap"></div>
						<div class="menu-group">
							<div class="nav-header">
								<span>Features</span>
							</div>
							<ul class="navbar-nav flex-column">
								{% if 'account' in permissions %}
								<li class="nav-item">
									<a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dash_chat_role">
										<span class="nav-icon-wrap">
											<span class="svg-icon">
												<i class="bi bi-people"></i>
											</span>
										</span>
										<span class="nav-link-text">User Management</span>
									</a>
									<ul id="dash_chat_role" class="nav flex-column collapse  nav-children">
										<li class="nav-item">
											<ul class="nav flex-column">
												<li class="nav-item">
													<a class="nav-link" href="{% url 'role' %}"><span class="nav-link-text">Roles</span></a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'company_user' %}"><span class="nav-link-text">Users</span></a>
												</li>
											</ul>	
										</li>	
									</ul>	
								</li>	
								{% endif %}
								{% if 'leads' in permissions %}
								<li class="nav-item">
									<a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dash_chat_lead">
										<span class="nav-icon-wrap">
											<i class="bi bi-kanban"></i>
										</span>
										<span class="nav-link-text">CRM System</span>
									</a>
									<ul id="dash_chat_lead" class="nav flex-column collapse  nav-children">
										<li class="nav-item">
											<ul class="nav flex-column">
												<li class="nav-item">
													<a class="nav-link" href="{% url 'leads' %}"><span class="nav-link-text">Leads</span></a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'crm_setup' %}"><span class="nav-link-text">CRM Setup</span></a>
												</li>
											</ul>	
										</li>	
									</ul>	
								</li>
								{% endif %}
								{% if 'hrm' in permissions %}
								<li class="nav-item">
									<a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dash_chat">
										<span class="nav-icon-wrap">
											<i class="bi bi-person-plus"></i>
										</span>
										<span class="nav-link-text">HRM System</span>
									</a>
									<ul id="dash_chat" class="nav flex-column collapse  nav-children">
										<li class="nav-item">
											<ul class="nav flex-column">
												<li class="nav-item">
													<a class="nav-link" href="{% url 'hrm' %}"><span class="nav-link-text">Dashboard</span></a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'employees' %}"><span class="nav-link-text">Employees</span></a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'attendance' %}"><span class="nav-link-text">Attendance</span></a>
													<li class="nav-item">
														<a class="nav-link" href="{% url 'salary' %}"><span class="nav-link-text">Payslip</span></a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href=" {% url 'hrm_setup' %} "><span class="nav-link-text">HRM Setup</span></a>
													</li>
												</li>
											</ul>	
										</li>	
									</ul>	
								</li>
								{% endif %}
								{% if 'products' in permissions %}
								<li class="nav-item">
									<a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dash_chat_service">
										<span class="nav-icon-wrap">
											<i class="bi bi-terminal-plus"></i>
										</span>
										<span class="nav-link-text">Products</span>
									</a>
									<ul id="dash_chat_service" class="nav flex-column collapse  nav-children">
										<li class="nav-item">
											<ul class="nav flex-column">
												<li class="nav-item">
													<a class="nav-link" href="{% url 'products' %}"><span class="nav-link-text">Products & Services</span></a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'products' %}"><span class="nav-link-text">Product Stock</span></a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'product_setup' %}"><span class="nav-link-text">Product Setup</span></a>
												</li>
											</ul>	
										</li>	
									</ul>	
								</li>
								{% endif %}
								{% if 'finance' in permissions %}
								<li class="nav-item">
									<a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dash_chat_customer">
										<span class="nav-icon-wrap">
											<span class="svg-icon">
												<i class="bi bi-cash-coin"></i>
											</span>
										</span>
										<span class="nav-link-text">Accounting</span>
									</a>
									<ul id="dash_chat_customer" class="nav flex-column collapse  nav-children">
										<li class="nav-item">
											<ul class="nav flex-column">
												<li class="nav-item">
													<a class="nav-link" href="{% url 'client' %}"><span class="nav-link-text">Clients</span></a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'invoice' %}"><span class="nav-link-text">Invoice</span></a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'receipt' %}"><span class="nav-link-text">Receipt</span></a>
												</li>
												<li class="nav-item">
													<a class="nav-link" href="{% url 'statement' %}"><span class="nav-link-text">Statement</span></a>
												</li>
											</ul>	
										</li>	
									</ul>	
								</li>
								{% endif %}	
								<li class="nav-item">
									<a class="nav-link" href="{% url 'todo' %}" >
										<span class="nav-icon-wrap">
											<span class="svg-icon">
												<i class="bi bi-check2-all"></i>
											</span>
										</span>
										<span class="nav-link-text">To Do</span>
									</a>	
								</li>

								<li class="nav-item">
									<a class="nav-link" href="{% url 'log_sheet' %}" >
										<span class="nav-icon-wrap">
											<span class="svg-icon">
												<i class="bi bi-check2-all"></i>
											</span>
										</span>
										<span class="nav-link-text">Log Sheet</span>
									</a>	
								</li>	
							</ul>
						</div>
					</div>
				</div>
				<!-- /Main Menu -->
			</div>
			<div id="hk_menu_backdrop" class="hk-menu-backdrop"></div>
			<!-- /Vertical Nav -->