{% include 'nav_links.html' %} {% load static %}
<div class="hk-wrapper hk-pg-auth" data-footer="simple">
    <!-- Main Content -->
    <div class="hk-pg-wrapper pt-0 pb-xl-0 pb-5">
        <div class="hk-pg-body pt-0 pb-xl-0">
            <!-- Container -->
            <div class="container-xxl">
                <!-- Row -->
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 position-relative mx-auto v-separator separator-sm">
                        <div class="auth-content py-md-0 py-8">
                            
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <img src="{% static 'fi.png' %}" alt="">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-lg-block ">
                        <div class="auth-content py-md-0 py-8">
                            <div class="row">
                                <div class="col-xxl-9 col-xl-8 col-lg-11 text-center mx-auto">
                                    <img src="{% static 'dist/img/macaroni-logged-out.png' %}" class="img-fluid w-sm-40 w-50 mb-3" alt="login">
                                    <h3 class="mb-2">Dig into festive savings, Go Digital.</h3>
                                    <p class="w-xxl-150 w-150 mx-auto">Book a free demo. Mail us at: erp@gmail.com.</p>
                                    <div class="pg-header-action-wrap mt-4">
                                        <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
                                        <a href="{% url 'login' %}"><button class="btn btn-primary">Live Demo</button></a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->
        </div>
        <!-- /Page Body -->

        <div class="hk-footer">
            <footer class="container-xxl footer">
                <div class="row">
                    <div class="col-xl-8">
                        <p class="footer-text"><span class="copy-text">ERP © 2022 All rights reserved.</span> <a href="#" class="" target="_blank">Privacy Policy</a><span class="footer-link-sep">|</span><a href="#" class="" target="_blank">T&amp;C</a><span class="footer-link-sep">|</span><a href="#" class="" target="_blank">System Status</a></p>
                    </div>
                    <div class="col-xl-4">
                        <a href="#" class="footer-extr-link link-default"><span class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></span><u>Send feedback to our help forum</u></a>
                    </div>
                </div>
            </footer>
        </div>
    
    </div>
    <!-- /Main Content -->
</div>
{% include 'footer.html' %}