{% include 'nav_links.html' %}
<div class="container-xxl">
    <!-- Row -->
    <div class="row">
        <div class="col-xl-7 col-lg-6 d-lg-block d-none v-separator">
            <div class="auth-content py-md-0  py-8">
                <div class="row">
                    <div class="col-xxl-9 col-xl-8 col-lg-11 mx-auto">
                        <div class="text-center">
                            <h3 class="mb-2">High quality Bootstrap template for your next web project.</h3>
                            <p>Start your <mark>14days free</mark> trial.</p>
                        </div>
                        <ul class="list-icon mt-4">
                            <li class="mb-1"><p><i class="ri-check-fill text-success"></i><span>There are many variations of passages of Lorem Ipsum available, in some form, by injected humour</span></p></li>
                            <li class="mb-1"><p><i class="ri-check-fill text-success"></i><span>There are many variations of passages of Lorem Ipsum available, in some form, by injected humour</span></p></li>
                        </ul>
                        <div class="row gx-3 mt-7">
                            <div class="col-lg-6">
                                <div class="card card-shadow">
                                    <img class="card-img-top" src="dist/img/slide3.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Help Centre</h5>
                                        <p class="card-text">This is a wider card with supporting text.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-shadow">
                                    <img class="card-img-top" src="dist/img/slide4.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">Research Centre</h5>
                                        <p class="card-text">This is a wider card with supporting text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mt-5 p-xs credit-text text-center text-light">All illustration are powered by <a href="https://icons8.com/ouch/" target="_blank" class="text-light"><u>OUCH</u></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-10 position-relative mx-auto">
            <div class="auth-content py-md-0 py-8">
                <form class="w-100">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <h4 class="text-center mb-4">Sign Up to Jampack</h4>
                            <button class="btn btn-outline-dark btn-rounded btn-block mb-3"><span><span class="icon"><i class="fab fa-google"></i></span><span>Sign Up with Gmail</span></span></button>
                            <button class="btn btn-social btn-social-facebook btn-rounded btn-block"><span><span class="icon"><i class="fab fa-facebook"></i></span><span>Sign Up with Facebook</span></span></button>
                            <div class="title-sm title-wth-divider divider-center my-4"><span>Or</span></div>
                            <div class="row gx-3">
                                <div class="form-group col-lg-6">
                                    <label class="form-label">Name</label>
                                    <input class="form-control" placeholder="Enter your name" value="" type="text">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="form-label">Username</label>
                                    <input class="form-control" placeholder="Enter username" value="" type="text">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" placeholder="Enter your email id" value="" type="text">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label class="form-label">Password</label>
                                    <div class="input-group password-check">
                                        <span class="input-affix-wrapper affix-wth-text">
                                            <input class="form-control" placeholder="6+ characters" value="" type="password">
                                            <a href="#" class="input-suffix text-primary text-uppercase fs-8 fw-medium">
                                                <span>Show</span>
                                                <span class="d-none">Hide</span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-check form-check-sm mb-3">
                                <input type="checkbox" class="form-check-input" id="logged_in" checked="">
                                <label class="form-check-label text-muted fs-8" for="logged_in">By creating an account you specify that you have read and agree with our <a href="#">Tearms of use</a> and <a href="#">Privacy policy</a>. We may keep you inform about latest updates through our default <a href="#">notification settings</a></label>
                            </div>
                            <a href="#" class="btn btn-primary btn-rounded btn-uppercase btn-block">Create account</a>
                            <p class="p-xs mt-2 text-center">Already a member ? <a href="#"><u>Sign In</u></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>
<footer class="container-xxl footer">
    <div class="row">
        <div class="col-xl-8">
            <p class="footer-text"><span class="copy-text">Jampack © 2022 All rights reserved.</span> <a href="#" class="" target="_blank">Privacy Policy</a><span class="footer-link-sep">|</span><a href="#" class="" target="_blank">T&amp;C</a><span class="footer-link-sep">|</span><a href="#" class="" target="_blank">System Status</a></p>
        </div>
        <div class="col-xl-4">
            <a href="#" class="footer-extr-link link-default"><span class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></span><u>Send feedback to our help forum</u></a>
        </div>
    </div>
</footer>
    <!-- / Page Footer -->

</div>
{% include 'footer.html' %}