{% load static %}{% include 'header.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->												
		<div class="hk-pg-header">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-md-0 mb-2 me-8">
						<div class="d-flex align-items-center">
							<h1 class="pg-title">CRM Dashboard</h1>
							<span class="badge badge-soft-primary ms-3">Badge</span>
						</div>
						<p>Good afternoon {{request.user.first_name}}!</p>
						
					</div>
					<div class="pg-header-action-wrap">
						<button class="btn btn-outline-secondary me-3">Secondary</button>
						<button class="btn btn-primary">Primary</button>
					</div>
				</div>
			</div>
		</div>											
		<!-- /Page Header -->
		<!-- /Add other contents below -->
		{{company.company_name}}
																
		<!-- <h4>Permissions</h4>
		{% for per in permissions %}
			{{per}},
		{% endfor %} -->
	</div>
</div>
{% include 'footer.html' %}