{% load static %}
<head>
    <!-- Meta Tags -->
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{company.company_name}}</title>
    <meta name="description" content="A modern CRM Dashboard for your Business."/>
    
	<!-- Favicon -->
    <link rel="shortcut icon" href="{{company.company_logo.url}}">
    <link rel="icon" href="{{company.company_logo.url}}" type="image/x-icon">
	
	<!-- Daterangepicker CSS -->
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />

	<!-- Data Table CSS -->
    <link href="{% static 'vendors/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'vendors/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />

	<!-- CSS -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
</head>